@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 900ms ease-in-out;
}

body {
  background-color: rgb(228, 206, 167);
  font-family: "Nunito", sans-serif;
}

.container {
  max-width: 1300px;
  height: 100%;
  margin: 15vh auto;
}

.title {
  color: white;
  margin: 0 auto 0.25em auto;
  width: 100%;
  max-width: 900px;
  display: flex;
  font-family: "Homemade Apple", cursive;
}

@media (max-width: 500px) {
  .title {
    justify-content: center;
  }
}

.quote-box {
  background-color: white;
  padding: 2em;
  border-radius: 5px;
  height: auto;
  width: auto;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-break: normal;
}

#text {
  font-size: clamp(1em, 1.8em, 2.4em);
  margin-bottom: 1em;
  text-transform: capitalize;
  font-weight: 600;
}
.fa-quote-left {
  margin: 0 auto 0.5em 0;
  font-size: clamp(1.5em, 2.8em, 3.4em);
  transition: all 100ms ease-in-out;
}

.fa-quote-right {
  margin-left: auto;
  font-size: clamp(1.5em, 2.8em, 3.4em);
  transition: all 100ms ease-in-out;
}

#author {
  font-size: clamp(0.8em, 1.4em, 2em);
  color: rgb(49, 51, 53);
  text-transform: uppercase;
  font-style: italic;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 1em;
}

.btn-div {
  display: flex;
  margin: 0 auto;
  justify-content: flex-end;
  width: auto;
  max-width: 900px;
}
.btn {
  height: auto;
  width: auto;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  margin: 0.5em 1em 0 -10px;
  cursor: pointer;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}

.btn:hover {
  transform: scale(1.1);
}

.fb-share-button {
  color: white;
  background-color: rgb(39, 109, 250);
  font-size: 1em;
}

#tweet {
  color: white;
  background-color: rgb(29, 161, 242);
  font-size: 1.1em;
}

#palette {
  color: white;
  background-color: rgb(247, 109, 132);
  font-size: 1.1em;
  transition: all 300ms ease-out;
}

.random-color {
  color: wheat;
}
